@font-face {
  font-family: "JetBrains Mono";
  font-weight: theme("fontWeight.normal");
  font-display: swap;
  src: url("/fonts/JetBrainsMono-Regular.woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: theme("fontWeight.bold");
  font-display: swap;
  src: url("/fonts/JetBrainsMono-Bold.woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: theme("fontWeight.normal");
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: theme("fontWeight.normal");
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Inter-Italic.woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: theme("fontWeight.black");
  font-display: swap;
  src: url("/fonts/Inter-ExtraBold.woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: theme("fontWeight.black");
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Inter-ExtraBoldItalic.woff2");
}
